:host {
  ::ng-deep {
    .btn-success {
      width: 100%;
      height: 5rem;
      font-size: 30px;
      border-radius: 40px;
    }

    .btn:hover {
      background-color: #22c55e;
      border-color: #22c55e;
    }

    .carousel-indicators {
      margin: 0;
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #000;
    }

    .carousel-item.active {
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-inner {
      height: 100%;
      background-color: #f5f5f5;
      color: #000;
    }

    .carousel-item {
      background: #f5f5f5;
      color: #000;
    }

    .carousel-indicators [data-bs-target] {
      background-color: #000;
    }

    .carousel {
      width: 100%;
    }

    h2 {
      color: #fff;
      font-size: 45px;
      margin: 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100vh;
  font-size: 60px;
  padding: 1rem;
  gap: 1rem;

  &__title {
    display: flex;
    justify-content: center;

    &--img {
      width: 30%;
    }
  }

  &__carousel {
    display: flex;
    text-align: center;
    width: 50%;

    &--card {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px;
      height: 23rem;
      border-radius: 40px;
      background-color: #f5f5f5;
      color: #000;
    }

    h2 {
      font-size: 50px;
      font-weight: 700;
      background: #f5f5f5;
      color: #000;
      margin: 0;
    }

    p {
      background: #f5f5f5;
      color: #000;
      font-size: 34px;
      margin: 7rem 6rem;
    }

    strong {
      background: #f5f5f5;
      color: #64748b;
      font-size: 34px;
      margin: 0;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .container {
    padding: 1.5rem;
    gap: 1.5rem;

    &__title {
      &--img {
        width: 50%;
      }
    }

    &__carousel {
      width: 70%;

      &--card {
        padding: 15px;
        height: auto;
      }

      p {
        font-size: 24px;
        margin: 4rem 6rem;
      }

      strong {
        font-size: 24px;
      }

      h2 {
        font-size: 30px;
      }
    }

    &__arrow {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 1.5rem;
    gap: 1.5rem;

    &__title {
      &--img {
        width: 50%;
      }
    }

    &__carousel {
      width: 70%;

      &--card {
        padding: 15px;
        height: auto;
      }

      p {
        font-size: 24px;
        margin: 3rem 4rem;
      }

      strong {
        font-size: 24px;
      }

      h2 {
        font-size: 30px;
      }
    }

    &__arrow {
      width: 70%;
    }
  }

  h2 {
    font-size: 30px;
  }

  ::ng-deep {
    .btn-success {
      height: 4rem;
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem;
    gap: 1rem;
    justify-content: space-around;

    &__title {
      &--img {
        width: 60%;
      }
    }

    &__carousel {
      width: 90%;

      &--card {
        padding: 19px 14px;
        height: 12rem;
      }

      p {
        font-size: 17px;
        margin: 2rem 2.5rem 0;
      }

      strong {
        font-size: 18px;
      }

      h2 {
        font-size: 24px;
      }
    }

    &__arrow {
      width: 90%;
    }
  }

  h2 {
    font-size: 24px;
  }

  ::ng-deep {
    .btn-success {
      height: 3rem;
      font-size: 18px;
    }
  }
}
