<div class="container">
  <div class="container__title">
    <div class="container__title--back">
      <a
        (click)="goToQuiz()"
        class="container__title--back__arrow"
        style="cursor: pointer"
      >
        <img
          src="../../../assets/icons/arrow-left.svg"
          alt="Voltar para quiz"
        />
      </a>
    </div>
    <div class="container__title--logo">
      <img
        src="../../../assets/icons/logo.svg"
        class="container__title--logo--quiz"
        alt=""
      />
    </div>
  </div>

  <div class="container__inputs">
    <div class="container__inputs--card">
      Número de perguntas:
      <select class="form-select">
        <option selected>10</option>
        <option value="1">20</option>
        <option value="2">30</option>
      </select>
    </div>
    <div class="container__inputs--card">
      Selecione a categoria:
      <select class="form-select">
        <option selected>Conhecimento Geral</option>
        <option value="1">Filme</option>
        <option value="2">Música</option>
        <option value="3">Videogame</option>
        <option value="3">Política</option>
        <option value="3">Ciência da Natureza</option>
        <option value="3">Matemática</option>
        <option value="3">Geografia</option>
        <option value="3">História</option>
        <option value="3">Animais</option>
      </select>
    </div>
    <div class="container__inputs--card">
      Selecione a dificuldade:
      <select class="form-select">
        <option selected>Qualquer dificuldade</option>
        <option value="1">Fácil</option>
        <option value="2">Médio</option>
        <option value="3">Difícil</option>
      </select>
    </div>
    <div class="container__inputs--card">
      Selecione o tipo:
      <select class="form-select">
        <option selected>Qualquer tipo</option>
        <option value="1">Múltipla Escolha</option>
        <option value="2">Verdadeiro ou Falso</option>
      </select>
    </div>
  </div>

  <div class="container__arrow">
    <button type="button" class="btn btn-success" (click)="goToQuestions()">
      COMEÇAR
    </button>
  </div>
</div>
